* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    color: #d1d1D1;
    background-color: #171219;
}

#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #171219;
    border-bottom: 2px solid #fff;
    margin-inline: 3rem;
}

#header-title {
    font-size: 30px;
    color: #ddd;
    border-left: 4px solid #167e96;
    padding-inline: 2px;
}

#navbar-itens ul {
    display: flex;
}

#navbar-itens a {
    text-decoration: none;
}

#navbar-itens li {
    list-style: none;
    margin-left: 1rem;
    padding: 15px 10px;
    border: 1px solid #000;
    background-color: #167e96;
    border-radius: 5%;
    transition: 0.3s;
}

#navbar-itens li:hover {
    opacity: 0.8;
}

#navbar-itens a {
    color: #ddd;
    font-size: 15px;
    font-weight: bold;
    background-color: #167e96;
    cursor: pointer;
}